* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background: radial-gradient(
    circle at 100%,
    #341406e8,
    #333 50%,
    #0f1017 75%,
    #123 75%
  );
}

header {
  width: -webkit-fill-available;
}

.header {
  border: 0ch;
}

h1 {
  text-align: center;
  font-size: 8rem;
  color: #715f36;
}

.h1 {
  font-size: 4rem;
}

.instruction2 {
  color: aqua;
  text-transform: uppercase;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

.align-ships {
  text-align: center;
  position: relative;
}

label {
  font-size: xx-large;
  color: aquamarine;
}

input {
  padding: 15px;
  border-radius: 10px;
}

.second-input {
  position: relative;
}

.start-btn {
  width: fit-content;
  padding: 15px;
  align-self: center;
}

.choose-div {
  margin-top: 100px;
}

.choose-div > p {
  font-size: 2rem;
  text-transform: capitalize;
  color: aquamarine;
}

.btn-div {
  text-align: center;
  margin-top: 10px;
}

.play-human {
  margin-left: 20px;
}

.play-ai,
.play-human {
  width: 100px;
  padding: 20px 0;
}

.board-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.player1-board,
.player2-board {
  backdrop-filter: brightness(0.7);
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  width: 450px;
  height: 450px;
  margin: auto;
  border: 1px solid #f2f2f2;
}

.player1-grid,
.player2-grid {
  border: 1px solid #f8f8f8;
}

.player1-grid:hover,
.player2-grid:hover {
  background-color: rgb(255, 183, 183);
}

.hide {
  position: absolute;
  visibility: hidden;
}

.show {
  position: relative;
  visibility: visible;
}

.ship {
  background-color: #00ffff70 !important;
}

.shots {
  border-radius: 40px;
  background-color: white !important;
}

.valid-shot {
  background-color: red !important;
}

.sunk-ship {
  background-color: blue !important;
}

footer {
  padding: 15px;
  margin-top: auto;
  text-align: center;
  background-color: #bba7a7;
  width: -webkit-fill-available;
}
