* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: darkcyan;
}

header {
  width: -webkit-fill-available;
}

.header {
  border: 0ch;
}

h1 {
  text-align: center;
  font-size: 8rem;
  color: darkslategrey;
}

.h1 {
  font-size: 4rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

.align-ships {
  text-align: center;
}

label {
  font-size: xx-large;
  color: aquamarine;
}

input {
  padding: 15px;
}

.start-btn {
  width: fit-content;
  padding: 15px;
  align-self: center;
}

.choose-div {
  margin-top: 100px;
}

.choose-div>p {
  font-size: 2rem;
  text-transform: capitalize;
  color: aquamarine;
}

.btn-div {
  text-align: center;
  margin-top: 10px;
}

.play-human {
  margin-left: 20px;
}

.play-ai,
.play-human {
  width: 100px;
  padding: 20px 0;
}

.board-container {
  display: flex;
  width: min-content;
  margin: auto;
  gap: 125px;
}

.player1-board,
.player2-board {
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  width: 450px;
  height: 450px;
  border: 1px solid black;
}

.player1-grid,
.player2-grid {
  border: 1px solid black;
}

.player1-grid:hover,
.player2-grid:hover {
  background-color: rgb(255, 183, 183);
}

.player2-board {
  position: absolute;
  visibility: hidden;
}

.show {
  position: relative;
  visibility: visible;
}

.ship {
  background-color: rgb(76, 56, 56) !important;
}

.shots {
  background-color: rgb(159, 46, 211) !important;
}

.valid-shot {
  background-color: red !important;
}

.sunk-ship {
  background-color: blue !important;
}

footer {
  padding: 15px;
  margin-top: auto;
  text-align: center;
  background-color: white;
  width: -webkit-fill-available;
}